

#container {
    width: 100%;
    height: 100vh;
}

#banner {
    background-image: url("https://templated.co/items/demos/retrospect/images/banner.jpg") ;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}

#wall {
    width: 100%;
    height: 1000px;
    opacity: 0.99;
}
header {
    height: 150px;
    width: 100%;
    color: white;
    font-family: arial; 
}

header h1 {
    margin: 30px 50% 0 2%;
    display: inline-block;
    font-size: 20px;
}

header span {
    margin: 0 0 0 30%;
    display: inline-block;
    font-size: 20px;
}

#intro {
    color:#fff;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    line-height: 40px;
}

#intro h2 {
    font-size: 37px;
}    

#intro h3 {
    font-size: 23px;
    font-family: verdana;
    font-weight: normal;
}
#intro button {
    background: #51BAA4;
    color: #fff;
    padding: 20px 50px;
    border-radius: 40px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#cuerpo {
    background: #EEE;
    display: block;
    height: 100%;
    width: auto;
    opacity: 0.99;
    position: relative;
    top: 15%;
}

#cuerpo article {
    display: block;
    background-color: #fff;
    height: 310px;
    width: 75%;
    position: relative;
    top: 120px;
    font-family: arial;
    color: grey;
    margin: 88px auto;
}

#article1 h2 {
    font-size: 22px;
    color: black;
    position: absolute;
    left: 521px;
    bottom: 210px;
}

#article1 img {
    position: absolute;
    top: 0;
    right: 511px;
}

#article1 p {
    position: absolute;
    left: 535px;
    bottom: 88px;
    line-height: 30px;
}

#article1 button {
    position: absolute;
    left: 530px;
    bottom: 24px;
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    background: none;
    padding: 12px 49px;
}

#article2 h2 {
    font-size: 22px;
    color: black;
    position: absolute;
    right: 521px;
    left: 20px;
    bottom: 210px;
}

#article2 img {
    display: block;
    position: absolute;
    top: 0;
    left: 511px;
}

#article2 p {
    display: block;
    position: absolute;
    right: 535px;
    left: 29px;
    bottom: 88px;
    line-height: 30px;
}

#article2 button {
    display: block;
    position: absolute;
    right: 829px;
    bottom: 26px;
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    background: none;
    padding: 12px 49px;
}

#special {
    display: block;
    background-color: #fff;
    position: relative;
    top: 118px;
    height: 100%;
    width: auto;
}

#special h2 {
    font-size: 38px;
    padding: 116px 0 0 0;
    text-align: center;
    font-family: arial;
}

#special h3 {
    font-size: 18px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    padding: 0 346px;
    line-height: 33px;
}

#special div {
    display: block;
    margin: auto;
    position: absolute;
    top: 338px;
    left: 65px;
}

#images img {
    width: 300px; 
}
#special button {
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    background: none;
    padding: 18px 49px;
    top: 790px;
    left: 550px;
    position: absolute;
}