
#container {
    width: 100%;
    height: 4000px;
}

#banner {
    background-image: url("../images/banner.jpg") ;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#wall {
    width: 100%;
    height: 1000px;
    opacity: 0.99;
    min-width: 1200px; /*cuando achico me cubre las imagenes el fondo*/
}

header {
    height: 20vh;
    color: white;
    font-family: arial; 
}

/*Logo RETROSPECT*/
header h1 {
    position: relative;
    top: 3vh;
    left: 3vw;
    /*margin: 5vh 45% 0 5vw;*/
    display: inline-block;
    font-size: 20px;
}

/*MENU*/
header span {
    position: absolute; /*asi cuando achico la pantalla se mantiene*/
    top: 5vh;
    left: 90vw;
    /*margin: 5vh 5vw 0 30%;*/
    display: inline-block;
    font-size: 20px;
}

#intro {
    color:#fff;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
    line-height: 40px;
}

/*Icono Diamante*/
.iconDiamand {
    font-size: 50px;
    margin: 25px 100px 50px 20px;
    position: absolute;
    /*top: 25%;
    left: 46.5vw;*/
}

.iconCircle {
    font-size: 100px;
    margin: 0 auto;
    font-style: normal;
}

#intro h2 {
    font-size: 37px;
}  

#intro h3 {
    font-size: 23px;
    font-family: verdana;
    font-weight: normal;
}

#intro button {
    background: #51BAA4;
    color: #fff;
    padding: 20px 50px;
    border-radius: 40px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#cuerpo {
    background: #EEE;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.99;
    position: relative;
    top: 15%;
}

#cuerpo article {
    display: block;
    background-color: #fff;
    height: 310px;
    width: 1000px;
    position: relative;
    top: 120px;
    font-family: arial;
    color: grey;
    margin: 88px auto;
}

/*Articulo 1*/
#article1 .text {
    width: 440px;
    height: 250px;
    padding: 30px;
    float: right;

}

#article1 .img {
    width: 500px;
    height: inherit;
    display: inline-block;
}

#article1 button {
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    background: none;
    padding: 12px 49px;
}

/*Articulo 2*/
#article2 .text {
    width: 440px;
    height: 250px;
    padding: 30px;
    float: left;
}

#article2 .img {
    width: 500px;
    height: inherit;
    display: inline-block;
}

#article2 button {
    display: block;
    position: absolute;
    right: 829px;
    bottom: 26px;
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    background: none;
    padding: 12px 49px;
}

#special {
    display: block;
    background-color: #fff;
    position: relative;
    top: 118px;
    height: 900px;
    width: 100%;
    min-width: 1200px;
}

#special h2 {
    font-size: 38px;
    padding: 116px 0 0 0;
    text-align: center;
    font-family: arial;
    width: 600px;
    margin: 0 auto;
}

#special h3 {
    font-size: 18px;
    font-family: arial;
    text-align: center;
    font-weight: normal;
    line-height: 33px;
    width: 750px;
    margin: 30px auto;
}

#special div {
    display: block;
    margin: 0 auto;
    width: 1200px;
    font-size: 0; /*para evitar el espacio entre images*/
}

#images img {
    width: 300px; 
}

#special button {
    border-radius: 40px;
    border: 2px solid #51BAA4;
    color: #51BAA4;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    background: none;
    padding: 18px 49px;
    margin: 40px auto;
    display: block;
}

#panel3 {
    background-image: url(../images/pic11.jpg);
    height: 100vh;
    width: 100%;
    min-width: 1200px;
    background-attachment: fixed;
}

#panel3 div {
    position: relative;
    top: 40vh;
    text-align: center;
    color: #fff;
    font-family: "Raleway", Helvetica, sans-serif;
}

#panel3 h2 {
     font-size: 40px;
     font-weight: 700;
}

#panel3 h3 {
    font-size: 20px;
    font-weight: 100;
    width: 650px;
    margin: 0 auto;
}

#panel3 h3 {
    font-size: 20px;
    font-weight: 100;
    width: 650px;
    margin: 0 auto;
}

#panel3 button {
    border-radius: 40px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    background: none;
    padding: 18px 49px;
    margin: 50px auto;
}

#panel4 {
    background-color: #1e2832;
    height: 800px;
    width: 100%;
    /*font-size: 0;*/
    position: relative;
    top: -20px;
}

#panel4 header {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    height: 40vh;
}

#panel4 header h2 {
    margin: 80px 0 0 0;
    font-size: 40px;
}

#panel4 header h3 {
    margin: 40px 0;
    font-size: 25px;
    font-weight: normal;

}

/*Form primitivo*/
.name {
    width: 400px;
    height: 40px;
    background-color: rgb(41, 51, 60);
    display: inline-block;
    padding: 10px;
    color: #cfcfcf;
    font-family: arial;
}

.email {
    width: 400px;
    height: 40px;
    background-color: rgb(41, 51, 60);
    display: inline-block;
    position: relative;
    left: 6px;
    padding: 10px;
    color: #cfcfcf;
    font-family: arial;

}

.message {
    width: 810px;
    height: 150px;
    background-color: rgb(41, 51, 60);
    display: block;
    position: relative;
    top: 10px;
    padding: 10px 30px 10px 10px;
    color: #cfcfcf;
    font-family: arial;
}

#panel4 > div {
    width: 1200px;
    margin: 0 auto;
}

#panel4 .containerForm {
    width: 850px;
    height: 100vh;
    margin: 0 auto;
}

/*Botones del form*/
#panel4 .containerButton {
    width: 850px;
    height: 50px;
    position: relative;
    top: 70px;
    font-family: arial;
}

#panel4 .buttonSubmit {
    background: #51BAA4;
    color: #fff;
    padding: 20px 50px;
    border-radius: 40px;
    font-weight: bold;
    position: relative;
    left: 250px;
}

.buttonReset {
    background:transparent;
    color:  #fff;
    padding: 20px 50px;
    border-radius: 40px;
    font-weight: bold;
    position: relative;
    left: 270px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #1E2832;
    position: absolute;
    display: block;

}

footer > div {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}

#redesSociales {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 100px;
    margin: 0 auto;
    width: 850px;
}

/*Firmas*/
h6 {
    display: inline-block;
    margin: 0 5px;
}

#redesSociales img {
    margin: 0 12px;
    margin-top: 50px;
}

#firmas {
    text-align: center;
    color: #a5a9ad;
    width: 850px;
    margin: 0 auto;
}